body {
    background-image: url("https://nitingupta220.github.io/Bloody-Nasreen/explosion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bloody {

    height: 350px;
    position: absolute;
    bottom: 0px;
}
